body {
  width: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

input {
  background-color: #f5f5f5;
  border-radius: 20px;
  border: 1px solid #ebedef;
  outline: none;
  color: #1e1e1e;
  font-family: inherit;
  font-size: 32px;
  padding: 32px 64px;
  width: -webkit-fill-available;
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: #2a2929;
    border-radius: 20px;
    border: 1px solid #2a2929;
    outline: none;
    color: #f5f5f5;
    font-family: inherit;
    font-size: 32px;
    padding: 32px 64px;
    width: -webkit-fill-available;
    margin-right: 8px;
  }
}

input:hover,
input:focus {
  border: 1px solid #777777;
}

.bookmarkGrid {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.bookmark {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 12px 24px 10px 40px;
  border-radius: 24px;
  filter: grayscale(0%);
  background-color: #f5f5f5;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-height: 200px;
}

@media (prefers-color-scheme: dark) {
  .bookmark {
    background-color: #2a2929;
  }
}

.bookmark:hover .bookmarkThumbnail {
  display: block;
}

.bookmark:hover .bookmarkTexts {
  color: white !important;
}

.bookmarkTexts {
  min-width: 180px;
  max-width: 180px;
  z-index: 9;
  position: relative;
}

.bookmarkTitle {
  color: #1e1e1e;
  font-weight: bold;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  .bookmarkTitle {
    color: #f5f5f5;
  }
}

.bookmarkDescription {
  color: #777777;
  font-size: 16px;
  font-weight: normal;
  padding-top: 16px;
  padding-bottom: 24px;
}

.bookmarkButton {
  background-color: #1e1e1e;
  text-decoration: none;
  color: white;
  padding: 6px 16px 7px 16px;
  border-radius: 24px;
  transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
  .bookmarkButton {
    background-color: #1e1e1e;
  }
}

.bookmarkButton:hover {
  background-color: #0022dd;
}

.bookmarkThumbnail {
  margin-right: -12px;
  border-radius: 25px;
  object-fit: contain;
}

.bookmarkImage {
  border-radius: 12px;
}
